//-   Created by S.Mahdi on 10/8/2017.

//#wrappe
header
 ui-button.btn-brower("v-for"='item in tabs' "v-on:click"='_onTabClick($index)' "v-bind:class"='{green: tabIdx==$index}') {{item.title}}
section(style="height:100%")

 section.scroll#settings("v-if"='tabIdx===0' style="padding:3px;height:100%;overflow:scroll")
  ui-section
   .header Insert/Edit project
   ui-prop(name='Project Name', tabindex='-1')
    ui-input.flex-1(tabindex='-1' v-value="selectedProject.name")
   ui-prop(name='Project Settings', value='Foo', tabindex='-1')
    ui-asset(v-value='selectedProject.settingUuid', type="cc.RawAsset" style="width:100%")
   ui-prop(name='Scene', value='Foo', tabindex='-1')
    ui-asset(v-value='selectedProject.sceneUuid' style="width:100%")
   ui-prop(name='Build Path', value='Foo', tabindex='-1')
    ui-input.flex-1(tabindex='-1' v-value="selectedProject.buildPath")
    ui-button.tiny(v-on:confirm='onChooseBuildPath')
     |...
    ui-button.tiny(v-on:confirm='onOpenPathClick') open
   ui-prop(name="Custom build")
    ui-checkbox(v-value="selectedProject.customBuild")
   ui-prop(tabindex='-1')
    ui-button.tiny.green(v-on:confirm='onAddToProjectsClick') Save changes
    ui-button.tiny.blue(v-on:confirm='onNewClick') New
    ui-button.btn-brower(v-on:confirm='onDeleteItemClick').tiny.red Delete
  .section(style="width:250px" "v-if"="showDeleteDialog")
   hr
   ui-prop(name="Delete this item?")
    ui-button.green(v-on:confirm='onDeleteClick(false)') No
    ui-button.red(v-on:confirm='onDeleteClick(true)') Yes
  ui-section
   .header All projects
   section(style="height:100%;overflow:scroll")
    ui-prop("v-for"='item in project.data.projects' v-bind:name="item.name")
     ui-asset(v-value='item.sceneUuid' style="width:100%" readonly)
     ui-button.btn-brower(v-on:confirm='onApplyClick(item)' v-if="selectedProject.name != item.name").tiny.green Open
     ui-button.btn-brower(v-on:confirm='onBuildClick(item)' v-if="selectedProject.name == item.name").tiny.red Build
 ui-loader("v-if"="showLoading")
 #options("v-if"='tabIdx===1')

  .layout.horizontal.start
   div 1
   div 2
   div 3
  .layout.horizontal.center
   div 1
   div 2
   div 3
  .layout.horizontal.end
   div 1
   div 2
   div 3
  .layout.vertical
   div 1
   .flex-1 2 (flex-1)
   div 3

  .layout.horizontal
   .self-start self-start
   .self-center self-center
   .self-end self-end
   .self-stretch self-stretch
  .layout.horizontal
   .flex-1 flex-1
   .flex-2 flex-2
   .flex-3 flex-3
  .layout.horizontal
   .flex-none flex-none
   .flex-1 flex-1
   .flex-none flex-none

 .footer.layout.horizontal
  .error.flex-4
   | {{errorInfo}}



