h2 {
    color: #f90;
}

.wrapper {
    position: relative;
    flex: 1;
    background: #333;
    margin-bottom: 5px;
}

.wrapper:last-child {
    margin-bottom: 0px;
}

.wrapper > .box {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 3px 10px;
    box-sizing: border-box;
    width: 60px;
    height: 30px;
    margin: 5px;

    font-weight: bold;
    background: #666;

    white-space: nowrap;
    overflow: hidden;
}

.wrapper.horizontal > .box:not(:last-child) {
    margin-right: 0px;
}

.wrapper.vertical > .box:not(:last-child) {
    margin-bottom: 0px;
}
.props
{
    overflow-x: hidden;
    overflow-y: scroll;
    margin-left: 10px;
    margin-bottom: 10px
}
.props::-webkit-scrollbar-track {
    border: 5px solid transparent;
    background: none !important;
    background-clip: content-box;
}

